<?xml version="1.0" ?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="Magento\Catalog\Block\Product\View\Gallery">
        <plugin disabled="false" name="gallery_block_overidden" sortOrder="10" type="xMagestore\Theme\Block\Product\View\Gallery"/>
    </type>
</config>